@model List<OnlineLibrary.Models.Book>

    @{
    ViewData["Title"] = "Books";
    }

    <h1>Books</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
            </tr>
        }
        </tbody>
    </table>
